#### Name: Noha Magdy Ali 
#### ID: 1610126
# Age and Gender Recognition using openCV and CNNs

### Needed packages

In [80]:
from skimage import data, io
from matplotlib import pyplot as plt
import numpy as np
from skimage import img_as_ubyte,img_as_float
from skimage import data, io, filters
from matplotlib.pyplot import imshow, show
from skimage.morphology import watershed
from skimage.measure import label
from skimage.color import label2rgb
from skimage import feature
from skimage.filters import threshold_otsu,  threshold_local, sobel
from skimage.morphology import erosion,dilation,opening,closing,square,disk
from skimage.measure import label
from skimage.color import label2rgb
import os
import pandas as pd
import tensorflow as tf
#import cv2

ModuleNotFoundError: No module named 'tensorflow'

### Loading and Preparing Data

In [69]:
data= os.listdir("Dataset")

Data = pd.DataFrame(columns=["Image", "Age", "Gender"])


for idx,i in zip(range(len(data)),data):
    age, gender, race, name=i.split("_")
    img = io.imread("Dataset/"+i)
    Data.loc[idx] = [ img, age, gender]
    #append(pd.Series(data={"Image":img, "Age":age, "Gender":gender}, name=idx))

In [71]:
Data.shape

(3251, 3)

In [72]:
Data.head()

                                               Image  Age Gender
0  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...  100      1
1  [[[187, 152, 156], [187, 152, 156], [187, 152,...   10      0
2  [[[177, 230, 234], [176, 229, 235], [173, 226,...   10      0
3  [[[233, 230, 223], [234, 231, 224], [234, 231,...   10      0
4  [[[216, 221, 224], [216, 221, 224], [216, 221,...   10      1

In [75]:
rand_idxs = np.random.choice(Data.shape[0], 500, True)
test = Data.loc[rand_idxs]
train = Data
train.drop(rand_idxs)

                                                  Image Age Gender
1     [[[187, 152, 156], [187, 152, 156], [187, 152,...  10      0
2     [[[177, 230, 234], [176, 229, 235], [173, 226,...  10      0
3     [[[233, 230, 223], [234, 231, 224], [234, 231,...  10      0
4     [[[216, 221, 224], [216, 221, 224], [216, 221,...  10      1
5     [[[253, 251, 254], [253, 251, 254], [253, 251,...  10      1
...                                                 ...  ..    ...
3245  [[[251, 223, 201], [251, 223, 201], [251, 223,...  99      1
3246  [[[29, 38, 33], [29, 38, 33], [30, 39, 34], [3...  99      1
3247  [[[121, 216, 86], [119, 214, 84], [118, 213, 8...  99      1
3249  [[[133, 61, 2], [133, 61, 2], [134, 62, 3], [1...   9      0
3250  [[[216, 204, 182], [218, 206, 184], [220, 208,...   9      0

[2787 rows x 3 columns]

In [76]:
train.head()

                                               Image  Age Gender
0  [[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ...  100      1
1  [[[187, 152, 156], [187, 152, 156], [187, 152,...   10      0
2  [[[177, 230, 234], [176, 229, 235], [173, 226,...   10      0
3  [[[233, 230, 223], [234, 231, 224], [234, 231,...   10      0
4  [[[216, 221, 224], [216, 221, 224], [216, 221,...   10      1

In [77]:
test.head()

                                                  Image Age Gender
712   [[[108, 108, 100], [108, 108, 100], [108, 108,...  26      0
3207  [[[72, 78, 32], [72, 78, 32], [72, 78, 32], [7...  88      0
2378  [[[199, 185, 182], [223, 209, 206], [242, 228,...  51      0
2083  [[[218, 218, 206], [218, 218, 206], [218, 218,...  45      0
2574  [[[56, 59, 64], [56, 59, 64], [56, 59, 64], [5...  55      0

In [ ]:
n_filters = 12 

def classifier(n_outputs=1):
    Conv2D = functools.partial(tf.keras.layers.Conv2D, padding='same', activation='relu')
    BatchNormalization = tf.keras.layers.BatchNormalization
    Flatten = tf.keras.layers.Flatten
    Dense = functools.partial(tf.keras.layers.Dense, activation='relu')

    model = tf.keras.Sequential([
    Conv2D(filters=1*n_filters, kernel_size=5,  strides=2),
    BatchNormalization(),
    
    Conv2D(filters=2*n_filters, kernel_size=5,  strides=2),
    BatchNormalization(),

    Conv2D(filters=4*n_filters, kernel_size=3,  strides=2),
    BatchNormalization(),

    Conv2D(filters=6*n_filters, kernel_size=3,  strides=2),
    BatchNormalization(),

    Flatten(),
    Dense(512),
    Dense(n_outputs, activation=None),
  ])
    return model
My_classifier = classifier()

In [ ]:
# Training hyperparameters
batch_size = 32
num_epochs = 2  # keep small to run faster
learning_rate = 5e-4

optimizer = tf.keras.optimizers.Adam(learning_rate) # define our optimizer
loss_history = mdl.util.LossHistory(smoothing_factor=0.99) # to record loss evolution
plotter = mdl.util.PeriodicPlotter(sec=2, scale='semilogy')
if hasattr(tqdm, '_instances'): tqdm._instances.clear() # clear if it exists

@tf.function
def standard_train_step(x, y):
      with tf.GradientTape() as tape:
        # feed the images into the model
        logits = standard_classifier(x) 
        # Compute the loss
        loss = tf.nn.sigmoid_cross_entropy_with_logits(labels=y, logits=logits)

  # Backpropagation
      grads = tape.gradient(loss, standard_classifier.trainable_variables)
      optimizer.apply_gradients(zip(grads, standard_classifier.trainable_variables))
    return loss

# The training loop!
for epoch in range(num_epochs):
      for idx in tqdm(range(loader.get_train_size()//batch_size)):
        # Grab a batch of training data and propagate through the network
        x, y = loader.get_batch(batch_size)
        loss = standard_train_step(x, y)

        # Record the loss and plot the evolution of the loss as a function of training
        loss_history.append(loss.numpy().mean())
        plotter.plot(loss_history.get())